@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Montserrat", sans-serif;
  --color-primary: #007AFF;
  --color-surface: #0f172a;
  /* slate-900 */
  --color-surface-dim: #020617;
  /* slate-950 */

  --animate-marquee: marquee 30s linear infinite;
  --animate-marquee-reverse: marquee-reverse 30s linear infinite;
  --animate-shimmer: shimmer 3s infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-150%) skewX(-15deg);
    }
    100% {
      transform: translateX(150%) skewX(-15deg);
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-surface-dim text-slate-200 font-sans antialiased selection:bg-primary/30 selection:text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display tracking-tight text-white;
  }
}